// Variables
$darkBlue: #182153;
$grey: #e3e3e3;

// Mixins
@mixin grid($cols, $margin) {
  float: left;
  margin-right: $margin;
  margin-top: $margin;
  width: ((100% - (($cols - 1) * $margin)) / $cols);
  &:nth-child(#{$cols}n) {
    margin-right: 0;
  }
}
@import "partials/partials";

// CSS
html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  margin: 0px auto;
  padding: 0px;
  font-family: "Dosis", sans-serif;
  font-size: 16px;
  width: 100%;
  color: $darkBlue;
}

input {
  font-family: "Dosis", sans-serif;
  font-size: 16px;
  box-sizing: border-box;
  margin: 0;
  padding: 5px;
  border: none;
}

textarea {
  font-family: "Dosis", sans-serif;
  font-size: 16px;
  box-sizing: border-box;
  border: none;
  margin: 0;
  padding: 5px;
  resize: none;
}

button {
  font-family: "Dosis", sans-serif;
  font-size: 16px;
  box-sizing: border-box;
  margin: 10px 0;
  padding: 5px 0;
  border: none;
  background-color: $darkBlue;
  color: #ffffff;
}

a {
  text-decoration: none;
  color: inherit;
}

.hide {
  opacity: 0;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 15px;
  background-color: $darkBlue;
  color: #ffffff;
}
/* ----- MEDIA QUERIES ----- */
div {
  /* background-color: orange; */
}

/* 1500px */
@media screen and (max-width: 1500px) {
  div {
    /* background-color: red; */
  }

  .name {
    padding-left: 50px;
    width: 40%;
  }

  nav {
    width: 59%;
  }

  .info-section-wrapper {
    width: 750px;
  }

  .social-media {
    width: 750px;
  }

  .about-section-wrapper {
    width: 50%;
  }

  .skills-wrapper {
    width: 100%;
  }

  .project {
    width: 30%;
    margin: 20px 1%;
  }
}

/* TABLET */
@media screen and (max-width: 768px) {
  div {
    /* background-color: green; */
  }

  header {
    padding: 0;
  }

  .name {
    display: block;
    padding-left: 20px;
    width: 100%;
    text-align: center;
  }

  .name h1 {
    margin: 0;
  }

  nav {
    display: block;
    width: 100%;
  }

  .separator {
    height: 102px;
  }

  .info-section-wrapper {
    width: 70%;
    margin: 0;
  }

  .profile-photo {
    width: 100%;
    display: block;
    margin: 0;
  }

  .personal-info-wrapper {
    width: 100%;
    display: block;
    vertical-align: top;
    text-align: left;
  }

  .personal-info {
    margin: 0 0 0 20%;
  }

  .social-media {
    width: 70%;
  }

  .social-media-list {
    width: 70%;
  }

  .about-section-wrapper {
    width: 70%;
  }

  .experience-entry {
    padding-left: 25px;
  }

  .experience-entry::before {
    content: "";
    display: inline-block;
    width: 3px;
    height: 3px;
    background-color: #000000;
    border: 1px solid #000000;
    border-radius: 50%;
    position: relative;
    top: 16px;
    left: -52%;
  }

  .date {
    display: block;
    width: 100%;
    text-align: left;
  }

  .indicator {
    display: none;
  }

  .company {
    display: block;
    width: 100%;
    text-align: left;
  }

  .education-entry {
    padding-left: 25px;
  }

  .education-entry::before {
    content: "";
    display: inline-block;
    width: 3px;
    height: 3px;
    background-color: #000000;
    border: 1px solid #000000;
    border-radius: 50%;
    position: relative;
    top: 16px;
    left: -52%;
  }

  .school {
    display: block;
    width: 100%;
    text-align: left;
  }

  .skill {
    width: 46%;
    margin: 10px 1%;
  }

  .project {
    width: 75%;
    margin: 20px auto;
  }

  .contact-form {
    display: block;
    width: 100%;
    border: none;
    text-align: center;
    padding-bottom: 10px;
  }

  .contact-form form {
    display: inline-block;
    width: 80%;
  }

  .contact-info {
    display: inline-block;
    width: 65%;
    border: none;
    padding-top: 0px;
    margin-left: 0;
  }

  .contact-media-wrapper {
    width: 75%;
  }
}

/* MOBILE */
@media screen and (max-width: 450px) {
  div {
    /* background-color: yellow; */
  }

  header {
    padding: 10px 0px;
  }

  .name {
  }

  .name h1 {
    display: inline-block;
    margin-left: 10px;
  }

  .burger-nav {
    display: inline-block;
    height: 40px;
    width: 40px;
    background: url(../images/burger-button-blue.png) no-repeat center;
    cursor: pointer;
    float: right;
    margin-right: 10px;
  }

  nav {
    display: none;
  }

  nav.open {
    display: block;
  }

  .nav-item {
    display: block;
    padding: 10px 0px;
    text-align: center;
    width: 100%;
  }

  .separator {
    height: 62px;
  }

  .info-section-wrapper {
    width: 100%;
  }

  .social-media {
    width: 100%;
  }

  .social-media-list {
    width: 100%;
  }

  .social-media-item {
    padding: 20px 10%;
  }

  #about {
    text-align: center;
    width: 100%;
    background-color: $grey;
    padding-bottom: 50px;
  }

  .about-description {
    padding: 0px 15px;
  }

  .about-section-wrapper {
    width: 100%;
    margin-top: 50px;
  }

  #experience {
    width: 100%;
  }

  #education {
    width: 100%;
  }

  .skills-wrapper {
    padding: 30px 0px;
  }

  .skill {
    display: block;
    width: 80%;
    margin: 25px auto;
  }

  .project {
    display: block;
    width: 100%;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
  }

  .project:hover {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
  }

  .contact-form form {
    width: 100%;
  }

  .input-name {
    width: 44%;
    margin: 10px 1%;
  }

  .input-email {
    width: 44%;
    margin: 10px 1%;
  }

  .input-subject {
    width: 90%;
    margin: 10px 0;
  }

  .input-message {
    width: 90%;
    margin: 10px 0;
  }

  .send-message {
    width: 90%;
  }

  .contact-info {
    display: inline-block;
    width: 90%;
    border: none;
  }

  .contact-media-wrapper {
    width: 100%;
  }

  .media-icon {
    width: 25px;
    margin: 10px 15% 10px 0;
  }
}
