/* HEADER */
header {
  padding: 10px 0px;
  border-bottom: 1px solid #ababab;
  background-color: #ffffff; }

.name {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  width: 55%;
  padding-left: 50px; }

nav {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  width: 44%;
  margin: 0px;
  padding: 20px 0px; }

.nav-list {
  list-style: none;
  margin: 0px;
  padding: 0px;
  text-align: center;
  width: 100%; }

.nav-item {
  display: inline-block;
  width: 19%; }

.nav-item a {
  text-decoration: none;
  text-transform: uppercase;
  color: #182153; }

.separator {
  height: 104px; }

/* ABOUT SECTION */
#about {
  text-align: center;
  width: 100%;
  background-color: #e3e3e3;
  padding-bottom: 100px; }

.social-media {
  background-color: #182153;
  color: #ffffff;
  display: inline-block;
  width: 1000px; }

.social-media-list {
  width: 50%;
  text-align: center;
  padding: 0;
  margin: 0 auto; }

.social-media-item {
  width: 25px;
  padding: 20px 20px;
  display: inline-block; }

.social-media-item img {
  width: 100%; }

.about-section-wrapper {
  text-align: center;
  width: 40%;
  margin: 100px auto 0px auto;
  text-align: center;
  /* overflow: hidden; */ }

.about-header {
  font-size: 30px; }

.about-description {
  margin: 0;
  display: inline-block;
  font-size: 18px;
  line-height: 1.5; }

/* CONTACT SECTION */
.grey-bg {
  background-color: #e3e3e3;
  color: #182153;
  border: 1px solid #ffffff; }

#contact {
  text-align: center;
  background-color: #e3e3e3; }

.contact-form {
  display: inline-block;
  width: 450px;
  border-right: 1px solid #ffffff;
  padding-top: 50px;
  padding-bottom: 30px; }

.contact-info {
  display: inline-block;
  width: 250px;
  vertical-align: top;
  font-size: 16px;
  margin-left: 3%;
  padding-top: 35px;
  padding-bottom: 30px; }

.input-name {
  width: 39%;
  margin: 10px 1%; }

.input-email {
  width: 39%;
  margin: 10px 1%; }

.input-subject {
  width: 80%;
  margin: 10px 0; }

.input-message {
  width: 80%;
  margin: 10px 0; }

.send-message {
  width: 80%;
  cursor: pointer; }

.info-wrapper {
  text-align: left;
  margin: 15px 0px; }

.headline-name {
  font-size: 32px;
  margin: 0;
  padding: 0; }

.proffesion {
  font-size: 16px;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0;
  padding: 0; }

.info-headline {
  margin: 0;
  padding: 0; }

.info-main {
  margin: 0;
  padding: 0; }

.contact-media-wrapper {
  /* width: 70%; */
  border-top: 1px solid #b0b0b0;
  margin-top: 60px; }

.contact-media {
  width: 100%;
  text-align: left;
  padding: 0;
  margin: 0; }

.media-icon {
  display: inline-block;
  width: 22px;
  margin: 15px 20px 15px 0px; }

.media-icon img {
  width: 100%;
  vertical-align: top; }

/* EDUCATION SECTION */
#education {
  text-align: center;
  width: 80%;
  margin: 0px auto;
  text-align: center;
  overflow: hidden; }

.education-entry {
  margin: 30px 0px; }

.degree {
  text-transform: capitalize;
  font-weight: 100;
  margin-top: 5px;
  padding: 0; }

.school {
  display: inline-block;
  text-align: left;
  vertical-align: top;
  width: 40%; }

.school-headline {
  font-size: 16px;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0;
  padding: 0; }

.school-description {
  text-transform: capitalize;
  font-weight: normal;
  margin: 0px;
  padding: 0px; }

/* EXPERIENCE SECTION */
#experience {
  width: 80%;
  margin: 50px auto;
  text-align: center; }

.section-header {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 3px;
  margin: 0px;
  padding: 50px 0px;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 2px solid #e3e3e3;
  border-top: 2px solid #e3e3e3; }

.experience-entry {
  margin: 30px 0px; }

.date {
  display: inline-block;
  text-align: right;
  vertical-align: top;
  width: 40%; }

.date-headline {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  padding: 0; }

.job {
  text-transform: capitalize;
  font-weight: 100;
  margin-top: 5px;
  padding: 0; }

.indicator {
  display: inline-block;
  vertical-align: middle;
  width: 5px;
  height: 5px;
  background-color: #000000;
  border-radius: 50%;
  margin: 0px 40px; }

.company {
  display: inline-block;
  text-align: left;
  vertical-align: top;
  width: 40%; }

.company-headline {
  font-size: 16px;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0;
  padding: 0; }

.company-description {
  text-transform: capitalize;
  font-weight: normal;
  margin: 0px;
  padding: 0px; }

/* INFO SECTION */
#info {
  /* background-image: url(../images/bg-mo-4-overlay.jpg); */
  background-image: url(../images/bg-mo-4.jpg);
  /* background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
    url(../images/bg-mo-4.jpg) no-repeat fixed center; */ }

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  margin: 0px auto;
  text-align: center;
  overflow: hidden; }

.info-section-wrapper {
  display: inline-block;
  width: 1000px;
  margin-top: 100px;
  /* background-color: rgba(255, 255, 255, 0.9); */
  background-color: #e3e3e3; }

.profile-photo {
  width: 50%;
  display: inline-block;
  margin-left: -6px; }

.profile-photo img {
  vertical-align: bottom;
  width: 100%; }

.personal-info-wrapper {
  width: 49%;
  max-height: 100%;
  display: inline-block;
  vertical-align: top;
  text-align: left; }

.personal-info {
  display: inline-block;
  text-align: left;
  margin: 10% 0% 0% 15%; }

/* PROJECTS SECTION */
#portfolio {
  margin: 0px 50px;
  padding-bottom: 50px;
  text-align: center;
  overflow: hidden; }

#portfolio a {
  float: left;
  margin-right: 3%;
  margin-top: 3%;
  width: 31.33333%;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25); }
  #portfolio a:nth-child(3n) {
    margin-right: 0; }
  #portfolio a img {
    width: 100%; }

#portfolio a:hover {
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25); }

.project-title {
  font-size: 16px;
  font-style: italic;
  margin: 0;
  padding: 15px 0; }

.project-image {
  display: inline-block;
  width: 75%; }

.project-image img {
  max-height: 100%;
  max-width: 100%; }

.project-description {
  text-align: justify;
  padding: 20px; }

.technology-stack {
  text-align: left;
  margin: 10px 0;
  padding-left: 15px; }

.stack-list {
  text-align: center;
  padding: 0;
  margin: 0; }

.stack-item {
  display: inline-block;
  margin: 0 10px;
  padding: 0 5px; }

/* SKILLS SECTION */
#skills {
  background-image: url(../images/header-background.jpg);
  text-align: center;
  width: 100%;
  margin: 0px auto;
  text-align: center;
  overflow: hidden; }

.blue-bg {
  background-color: #182153;
  color: #ffffff;
  border-bottom: 1px solid #ffffff; }

.skills-wrapper {
  display: inline-block;
  width: 80%;
  padding: 50px 0px; }

.skill {
  display: inline-block;
  width: 40%;
  margin: 10px 4%;
  color: #000; }
  .skill span {
    display: block;
    background-color: rgba(255, 255, 255, 0.75);
    width: 0%;
    padding: 10px 0px;
    word-wrap: normal;
    height: 16px; }

html {
  scroll-behavior: smooth; }

body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0px auto;
  padding: 0px;
  font-family: "Dosis", sans-serif;
  font-size: 16px;
  width: 100%;
  color: #182153; }

input {
  font-family: "Dosis", sans-serif;
  font-size: 16px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 5px;
  border: none; }

textarea {
  font-family: "Dosis", sans-serif;
  font-size: 16px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  margin: 0;
  padding: 5px;
  resize: none; }

button {
  font-family: "Dosis", sans-serif;
  font-size: 16px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 10px 0;
  padding: 5px 0;
  border: none;
  background-color: #182153;
  color: #ffffff; }

a {
  text-decoration: none;
  color: inherit; }

.hide {
  opacity: 0; }

/* FOOTER */
footer {
  text-align: center;
  padding: 15px;
  background-color: #182153;
  color: #ffffff; }

/* ----- MEDIA QUERIES ----- */
div {
  /* background-color: orange; */ }

/* 1500px */
@media screen and (max-width: 1500px) {
  div {
    /* background-color: red; */ }
  .name {
    padding-left: 50px;
    width: 40%; }
  nav {
    width: 59%; }
  .info-section-wrapper {
    width: 750px; }
  .social-media {
    width: 750px; }
  .about-section-wrapper {
    width: 50%; }
  .skills-wrapper {
    width: 100%; }
  .project {
    width: 30%;
    margin: 20px 1%; } }

/* TABLET */
@media screen and (max-width: 768px) {
  div {
    /* background-color: green; */ }
  header {
    padding: 0; }
  .name {
    display: block;
    padding-left: 20px;
    width: 100%;
    text-align: center; }
  .name h1 {
    margin: 0; }
  nav {
    display: block;
    width: 100%; }
  .separator {
    height: 102px; }
  .info-section-wrapper {
    width: 70%;
    margin: 0; }
  .profile-photo {
    width: 100%;
    display: block;
    margin: 0; }
  .personal-info-wrapper {
    width: 100%;
    display: block;
    vertical-align: top;
    text-align: left; }
  .personal-info {
    margin: 0 0 0 20%; }
  .social-media {
    width: 70%; }
  .social-media-list {
    width: 70%; }
  .about-section-wrapper {
    width: 70%; }
  .experience-entry {
    padding-left: 25px; }
  .experience-entry::before {
    content: "";
    display: inline-block;
    width: 3px;
    height: 3px;
    background-color: #000000;
    border: 1px solid #000000;
    border-radius: 50%;
    position: relative;
    top: 16px;
    left: -52%; }
  .date {
    display: block;
    width: 100%;
    text-align: left; }
  .indicator {
    display: none; }
  .company {
    display: block;
    width: 100%;
    text-align: left; }
  .education-entry {
    padding-left: 25px; }
  .education-entry::before {
    content: "";
    display: inline-block;
    width: 3px;
    height: 3px;
    background-color: #000000;
    border: 1px solid #000000;
    border-radius: 50%;
    position: relative;
    top: 16px;
    left: -52%; }
  .school {
    display: block;
    width: 100%;
    text-align: left; }
  .skill {
    width: 46%;
    margin: 10px 1%; }
  .project {
    width: 75%;
    margin: 20px auto; }
  .contact-form {
    display: block;
    width: 100%;
    border: none;
    text-align: center;
    padding-bottom: 10px; }
  .contact-form form {
    display: inline-block;
    width: 80%; }
  .contact-info {
    display: inline-block;
    width: 65%;
    border: none;
    padding-top: 0px;
    margin-left: 0; }
  .contact-media-wrapper {
    width: 75%; } }

/* MOBILE */
@media screen and (max-width: 450px) {
  div {
    /* background-color: yellow; */ }
  header {
    padding: 10px 0px; }
  .name h1 {
    display: inline-block;
    margin-left: 10px; }
  .burger-nav {
    display: inline-block;
    height: 40px;
    width: 40px;
    background: url(../images/burger-button-blue.png) no-repeat center;
    cursor: pointer;
    float: right;
    margin-right: 10px; }
  nav {
    display: none; }
  nav.open {
    display: block; }
  .nav-item {
    display: block;
    padding: 10px 0px;
    text-align: center;
    width: 100%; }
  .separator {
    height: 62px; }
  .info-section-wrapper {
    width: 100%; }
  .social-media {
    width: 100%; }
  .social-media-list {
    width: 100%; }
  .social-media-item {
    padding: 20px 10%; }
  #about {
    text-align: center;
    width: 100%;
    background-color: #e3e3e3;
    padding-bottom: 50px; }
  .about-description {
    padding: 0px 15px; }
  .about-section-wrapper {
    width: 100%;
    margin-top: 50px; }
  #experience {
    width: 100%; }
  #education {
    width: 100%; }
  .skills-wrapper {
    padding: 30px 0px; }
  .skill {
    display: block;
    width: 80%;
    margin: 25px auto; }
  .project {
    display: block;
    width: 100%;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25); }
  .project:hover {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25); }
  .contact-form form {
    width: 100%; }
  .input-name {
    width: 44%;
    margin: 10px 1%; }
  .input-email {
    width: 44%;
    margin: 10px 1%; }
  .input-subject {
    width: 90%;
    margin: 10px 0; }
  .input-message {
    width: 90%;
    margin: 10px 0; }
  .send-message {
    width: 90%; }
  .contact-info {
    display: inline-block;
    width: 90%;
    border: none; }
  .contact-media-wrapper {
    width: 100%; }
  .media-icon {
    width: 25px;
    margin: 10px 15% 10px 0; } }
