/* ABOUT SECTION */
#about {
  text-align: center;
  width: 100%;
  background-color: $grey;
  padding-bottom: 100px;
}

.social-media {
  background-color: $darkBlue;
  color: #ffffff;
  display: inline-block;
  width: 1000px;
}

.social-media-list {
  width: 50%;
  text-align: center;
  padding: 0;
  margin: 0 auto;
}

.social-media-item {
  width: 25px;
  padding: 20px 20px;
  display: inline-block;
}

.social-media-item img {
  width: 100%;
}

.about-section-wrapper {
  text-align: center;
  width: 40%;
  margin: 100px auto 0px auto;
  text-align: center;
  /* overflow: hidden; */
}

.about-header {
  font-size: 30px;
}

.about-description {
  margin: 0;
  display: inline-block;
  font-size: 18px;
  line-height: 1.5;
}
