/* CONTACT SECTION */
.grey-bg {
  background-color: $grey;
  color: $darkBlue;
  border: 1px solid #ffffff;
}
#contact {
  text-align: center;
  background-color: $grey;
}

.contact-form {
  display: inline-block;
  width: 450px;
  border-right: 1px solid #ffffff;
  padding-top: 50px;
  padding-bottom: 30px;
}

.contact-info {
  display: inline-block;
  width: 250px;
  vertical-align: top;
  font-size: 16px;
  margin-left: 3%;
  padding-top: 35px;
  padding-bottom: 30px;
}

.input-name {
  width: 39%;
  margin: 10px 1%;
}

.input-email {
  width: 39%;
  margin: 10px 1%;
}

.input-subject {
  width: 80%;
  margin: 10px 0;
}

.input-message {
  width: 80%;
  margin: 10px 0;
}

.send-message {
  width: 80%;
  cursor: pointer;
}

.info-wrapper {
  text-align: left;
  margin: 15px 0px;
}

.headline-name {
  font-size: 32px;
  margin: 0;
  padding: 0;
}

.proffesion {
  font-size: 16px;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.info-headline {
  margin: 0;
  padding: 0;
}

.info-main {
  margin: 0;
  padding: 0;
}

.contact-media-wrapper {
  /* width: 70%; */
  border-top: 1px solid rgba(176, 176, 176, 1);
  margin-top: 60px;
}

.contact-media {
  width: 100%;
  text-align: left;
  padding: 0;
  margin: 0;
}

.media-icon {
  display: inline-block;
  width: 22px;
  margin: 15px 20px 15px 0px;
}

.media-icon img {
  width: 100%;
  vertical-align: top;
}
