/* EDUCATION SECTION */
#education {
  text-align: center;
  width: 80%;
  margin: 0px auto;
  text-align: center;
  overflow: hidden;
}

.education-entry {
  margin: 30px 0px;
}

.degree {
  text-transform: capitalize;
  font-weight: 100;
  margin-top: 5px;
  padding: 0;
}

.school {
  display: inline-block;
  text-align: left;
  vertical-align: top;
  width: 40%;
}

.school-headline {
  font-size: 16px;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.school-description {
  text-transform: capitalize;
  font-weight: normal;
  margin: 0px;
  padding: 0px;
}
