/* EXPERIENCE SECTION */
#experience {
  width: 80%;
  margin: 50px auto;
  text-align: center;
}

.section-header {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 3px;
  margin: 0px;
  padding: 50px 0px;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 2px solid $grey;
  border-top: 2px solid $grey;
}

.experience-entry {
  margin: 30px 0px;
}

.date {
  display: inline-block;
  text-align: right;
  vertical-align: top;
  width: 40%;
}

.date-headline {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.job {
  text-transform: capitalize;
  font-weight: 100;
  margin-top: 5px;
  padding: 0;
}

.indicator {
  display: inline-block;
  vertical-align: middle;

  width: 5px;
  height: 5px;
  background-color: #000000;
  border-radius: 50%;
  margin: 0px 40px;
}

.company {
  display: inline-block;
  text-align: left;
  vertical-align: top;
  width: 40%;
}

.company-headline {
  font-size: 16px;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.company-description {
  text-transform: capitalize;
  font-weight: normal;
  margin: 0px;
  padding: 0px;
}
