/* HEADER */
header {
  padding: 10px 0px;
  border-bottom: 1px solid #ababab;
  background-color: #ffffff;
}

.name {
  box-sizing: border-box;
  display: inline-block;
  width: 55%;
  padding-left: 50px;
}

nav {
  box-sizing: border-box;
  display: inline-block;
  width: 44%;
  margin: 0px;
  padding: 20px 0px;
}

.nav-list {
  list-style: none;
  margin: 0px;
  padding: 0px;
  text-align: center;
  width: 100%;
}

.nav-item {
  display: inline-block;
  width: 19%;
}

.nav-item a {
  text-decoration: none;
  text-transform: uppercase;
  color: $darkBlue;
}

.separator {
  height: 104px;
}
