/* INFO SECTION */
#info {
  /* background-image: url(../images/bg-mo-4-overlay.jpg); */
  background-image: url(../images/bg-mo-4.jpg);
  /* background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
    url(../images/bg-mo-4.jpg) no-repeat fixed center; */
}

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  width: 100%;
  margin: 0px auto;
  text-align: center;
  overflow: hidden;
}

.info-section-wrapper {
  display: inline-block;
  width: 1000px;
  margin-top: 100px;
  /* background-color: rgba(255, 255, 255, 0.9); */
  background-color: $grey;
}

.profile-photo {
  width: 50%;
  display: inline-block;
  margin-left: -6px;
}

.profile-photo img {
  vertical-align: bottom;
  width: 100%;
}

.personal-info-wrapper {
  width: 49%;
  max-height: 100%;
  display: inline-block;
  vertical-align: top;
  text-align: left;
}

.personal-info {
  display: inline-block;
  text-align: left;
  margin: 10% 0% 0% 15%;
}
