/* PROJECTS SECTION */
#portfolio {
  margin: 0px 50px;
  padding-bottom: 50px;
  text-align: center;
  overflow: hidden;
}

#portfolio a {
  @include grid(3, 3%);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
  img {
    width: 100%;
  }
}

// .project {
//   display: inline-block;
//   width: 25%;
//   margin: 20px 1%;
//   box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
//   vertical-align: top;
// }

#portfolio a:hover {
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
}

.project-title {
  font-size: 16px;
  font-style: italic;
  margin: 0;
  padding: 15px 0;
}

.project-image {
  display: inline-block;
  width: 75%;
}

.project-image img {
  max-height: 100%;
  max-width: 100%;
}

.project-description {
  text-align: justify;
  padding: 20px;
}

.technology-stack {
  text-align: left;
  margin: 10px 0;
  padding-left: 15px;
}

.stack-list {
  text-align: center;
  padding: 0;
  margin: 0;
}

.stack-item {
  display: inline-block;
  margin: 0 10px;
  padding: 0 5px;
}
