/* SKILLS SECTION */
#skills {
  background-image: url(../images/header-background.jpg);
  text-align: center;
  width: 100%;
  margin: 0px auto;
  text-align: center;
  overflow: hidden;
}

.blue-bg {
  background-color: $darkBlue;
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
}

.skills-wrapper {
  display: inline-block;
  width: 80%;
  padding: 50px 0px;
}

.skill {
  display: inline-block;
  width: 40%;
  margin: 10px 4%;
  color: #000;
  span {
    display: block;
    background-color: rgba(255, 255, 255, 0.75);
    width: 0%;
    padding: 10px 0px;
    word-wrap: normal;
    height: 16px;
  }
}
